/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@500&family=Ubuntu:wght@400;500&display=swap');

body{
  box-sizing: border-box;
  font-family: 'Mukta';
}
.search-body{
  border: 2px solid black;
  width: 90%;
  margin: auto;
  border-radius: 10px;
  background-color: black;
  height: 40px;
  display: block;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
input{
  width: 80%;
  outline: none;
  height: 100%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
button{
  width: 20%;
  height: 100%;
  border-radius: 10px; 
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

img{
  width: 48%;
  margin: 3px;
}
h1, h6{
  text-align: center;
  color: aliceblue;
}

nav{
  height: 400px;
  background-color: black;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url('https://images.unsplash.com/photo-1506318137071-a8e063b4bec0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8c3RhcnN8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60');
}

@media (max-width: 464px) {
  nav{
    height: 350px;
    background-color: black;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url('https://images.unsplash.com/photo-1634176866089-b633f4aec882?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8ZWFydGh8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60');
  }
}

@media (min-width: 768px){
  img{
    width: 31%;
    margin: 3px;
  }
}